<app-search></app-search>
<app-tags></app-tags>
<ul>
    <li *ngFor="let cake of cakes">
        <a routerLink="/cake/{{cake.id}}"> 
        <img src="{{cake.imageUrl}}" alt="BakeMyCake images">
        </a>
        <div class="content">
            <div class="name">
                {{cake.name}}
            </div>
            <span class="favorite {{cake.favorite?'':'not'}}"></span>
            <div class="product-item-footer">
                <div class="price">
                    {{cake.price|currency}}
                </div>
            </div>
        </div>
        
        
    </li>
</ul>