section {
    background-color: rgb(105, 174, 238);
    font-style: italic;
    background-image: url('\src\assets\images\Pumpkin Spice Cupcakes.jpg');

    background-size: cover;
    background-attachment: fixed;
}